<!-- display the detail of a recipe including the user's fullname and the category -->
<div id="recipe">
	<h1>{{recipe_name}}</h1>
	<h3>By {{user.first_name}} {{user.last_name}}</h3>
	<h3>Category: {{category.category_name}}</h3>
	<p>{{recipe_description}}</p>
	{{#each recipe_steps}}
        <p>{{step}}</p>
    {{/each}}
    <button onClick='window.location.href = "/users/listCategory/{{category.id}}"'>Return to Category</button>  
	<button onClick='window.location.href = "/users/listCategory"'>Return
		Category List</button>
    <button onClick='window.location.href = "/users/home"'>home</button>
</div>